<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BoekenApplicatie.Properties.Settings.BoekenConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Boeken.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="BoekenApplicatie.Properties.Settings.BoekenDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\BoekenDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="BoekenApplicatie.Properties.Settings.BoekenConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Boeken.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>