<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BoekenApplicatie.Properties.Settings.BoekenConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Adriaan\Documents\Visual Studio 2010\Projects\BoekenApplicatie\BoekenApplicatie\Boeken.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>